
@import url(style.css);


.sub-header {
    height: 50vh;
    width: 100%;
    background: linear-gradient(var(--gredient-color) , var(--gredient-color)) , url(../images/engineers.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--white);
}

.main-title {
    margin-top: 4.25rem; /* was 7rem */
    font-size: 2.4rem;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 3.75rem; /* was 5rem */
    padding-bottom: 2.4rem; /* was 3.2rem */
}

.about-column {
    flex-basis: 48%; /* was 48% */
    padding: 1.5rem 0.094rem; /* was 2rem 0.125rem */
}

.about-column img {
    width: 100%;
}

.about-column .about-h1 {
    font-size: 2rem;
}

.about-column h1 {
    padding-top: 0;
    font-size: 1.5rem;
}

.about-column p {
    padding: 1rem 0 1.5rem;
}

.explore-btn {
    color: var(--main-red);
    border: 1px solid var(--main-red);
    padding: 0.5625rem 1.65rem; /* was 0.75rem 2.2rem */
    font-size: 0.615rem; /* was 0.82rem */
    font-weight: 800;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: .7s ease-in-out;
}

.explore-btn:hover {
    background: var(--main-red);
    color: var(--white);
}

/* Services design */


.service {
    width: 80%;
    margin: auto;
    padding-top: 2.25rem; /* was 3rem */
    padding-bottom: 1.5rem; /* was 2rem */
}

.service .about-column p {
    padding-bottom: 2.25rem; /* was 3rem */
}

/* contact us design */

.location {
    width: 80%;
    margin: auto;
    padding: 3.75rem 0; /* was 5rem */
}

.location iframe {
    width: 100%;
}

.location h1 {
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-column {
    flex-basis: 48%;
    padding-bottom: 2rem;
}

.contact-column div {
    display: flex;
    align-items: center;
    margin-bottom: 3rem; /* was 4rem */
}

.contact-column div .fa-solid {
    font-size: 1.5rem; /* was 2rem */
    margin: 0.675rem; /* was 0.9rem */
    margin-right: 1.875rem; /* was 2.5rem */
    color: var(--main-red);
}

.contact-column div p {
    padding: 0;
    font-size: 0.9rem;
}

.contact-column div h5 {
    font-size: 1.125rem; /* was 1.5rem */
    margin-bottom: 0.375rem; /* was 0.5rem */
    font-weight: 600;
}

.contact-column .infos {
    padding-right: 2rem;
}

.contact-column input , textarea {
    width: 100%;
    padding: 0.75rem; /* was 1rem */
    margin-bottom: 0.75rem; /* was 1rem */
    border: 1px solid #ccc;
}

/* To ensure responsiveness, you might also want a media query: */

@media (max-width: 1250px) {
    .contact-column div h5 {
        font-size: 0.75rem; /* was 1rem */
    }
    .contact-column div p {
        font-size: 0.6rem; /* was 0.8rem */
    }
}

@media (max-width: 450px) {
    .main-title {
        margin-top: 10rem;
    }
}
