
:root {
    --white :#fff;
    --main-red: #f44336;
    --gredient-color : rgba(4,9,30 , 0.7);
    --card-color : #fff3f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none; 
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* this header contains the whole first page the navbar and the content */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--gredient-color) , var(--gredient-color))  , url(../images/villa_3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* logo size */
#logo {
    width: 3.75rem;
}

/* navbar design */

/* this is a test to make the menu showed always , and it good but need more design */
/* #main-header {
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    padding: 2% 6%;
} */

/* this is for the effect of changing the bg of menu when scrolling up */

/* #main-header.scrolled {
    background-color: rgb(207, 95, 95);
    padding: 1rem 6%;
} */

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.nav-links ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 0.82rem;
    padding: 0.5rem 0.75rem;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: var(--main-red);
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 80%;
    transition: 0.5s ease-in-out;
}

nav .fa {
    display: none;
}

/* the content */


.text-box {
    width: 90%;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 3.25rem;
    /* animation */
    animation-delay: 0.5s;
}
.text-box p {
    margin: 0.7rem 0 2.5rem;
    font-size: 0.9rem;
    color: var(--white);
    /* animation */
    animation-delay: 1s;
}

.text-box #title {
    color: var(--main-red);
}

/* contact btn design */

.contact-btn {
    display: inline-block;
    /* text-decoration: none; */
    color: var(--white);
    border: 1px solid var(--white);
    padding: 0.75rem 2.2rem;
    font-size: 0.82rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: .7s ease-in-out;
}

.contact-btn.anim {
    /* animation */
    animation-delay: 1.5s;
}

.contact-btn:hover {
    border: 1px solid var(--main-red);
    background: var(--main-red);
}

/* the animation */

.anim {
    opacity: 0;
    transform: translateY(3rem);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*  */


/* all the titles design */

h1 {
    font-size: 2.25rem;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.4rem;
    padding: 0.7rem;
}

/* services design */

.services {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 6.25rem;
}

.row {
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

.service-column {
    flex-basis: 31%;
    background: var(--card-color);
    border-radius: 0.7rem;
    margin-bottom: 2.5%;
    padding: 1.25rem 0.75rem;
    box-sizing: border-box;
    transition: 0.5s;
}

.service-column h3 {
    text-align: center;
    font-weight: 600;
    margin: 0.7rem 0;
}

.service-column:hover {
    box-shadow: 0 0 1.25rem 0px rgba(0,0,0 , 0.2);
}


/* facilities design */

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 6.25rem;
}



.facilities-column {
    flex-basis: 31%;
    /* background: var(--card-color); */
    border-radius: 0.7rem;
    margin-bottom: 2.5%;
    text-align: left;
    padding: 1.25rem 0.75rem;
    box-sizing: border-box;
    transition: 0.5s;
}

.facilities-column img {
    width: 100%;
    border-radius: 0.7rem;
}


.facilities-column h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}


.facilities-column ul {
    padding: 0 0.5rem 0 1.6rem;
    color: #666;
}

/* test */
.facilities-column:hover {
    box-shadow: 0 0 1.25rem 0px rgba(0,0,0 , 0.2);
}



/* feedback */

.feedbacks {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 6.25rem;
}

.feedbacks-column {
    flex-basis: 44%;
    border-radius: 0.7rem;
    margin-bottom: 5%;
    text-align: left;
    background: var(--card-color);
    padding: 1.6rem;
    cursor: pointer;
    display: flex;
}

.feedbacks-column img {
    height: 2.5rem;
    /* width: 2.5rem; */
    margin-left: 5px;
    margin-right: 1.9rem;
    border-radius: 50%;
}

.feedbacks-column h3 {
    margin-top: 1rem;
    text-align: left;
}

.feedbacks-column p {
    padding: 0;
}

.feedbacks-column .fa-solid , .fa-regular {
    color: var(--main-red);
}


/* call to action */

.call-to-action {
    margin: 6.25rem auto;
    width: 80%;
    background-image: linear-gradient( rgba(0,0,0,0.7),  rgba(0,0,0,0.7))  , url(../images/engineers.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0.7rem;
    text-align: center;
    padding: 6.25rem 0;
}

.call-to-action h1 {
    color: var(--white);
    margin-bottom: 2.5rem;
    padding: 0;
}

/* footer design */


.footer {
    background-color: var(--card-color);
    padding: 5rem 5% 3rem;
    /* height: 10rem; */
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(20rem , 1fr));
    gap: 3rem;
}

.footer .box-container .box h3 {
    color: #000;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box p {
    color: #000;
    font-size: 1rem;
    padding: 0;
}

.footer .box-container .box a {
    color: #000;
    font-size: 1rem;
    padding-bottom: 1rem;
    display: block;
}


.footer .box-container .box a i {
    color: var(--main-red);
    padding-right: 0.5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.credit {
    color: #000;
    padding-top: 2.4rem;
    margin-top: 2.4rem;
    border-top: 0.1rem solid #000;
    text-align: center;
    font-size: 1.2rem;
}



/* making the website responsive */

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 1.9rem;
    }

    /* designing the menu */

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: var(--main-red);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: center;
        padding-top: 3rem;
        z-index: 2;
        transition: 1s;

        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    /* .navbar i {
        transform: rotate(180deg);
    } */

    .nav-links.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .nav-links ul {
        padding: 1.9rem;
    }

    /* for the menu icons in small screen */

    nav .fa {
        display: block;
        margin: 0.7rem;
        color: var(--white);
        font-size: 1.4rem;
        cursor: pointer;
        z-index: 1000;
    }

    /* the cards of services */

    .row {
        flex-direction: column;
    }

    /* for the feedbacks */

    .feedbacks-column img {
        height: 2.5rem;
        margin-left: 0px;
        margin-right: 1rem;
    }

    .call-to-action h1 {
        font-size: 1.25rem;
    }
}

@media (max-width:450px) {

    html {
        font-size: 75%;
    }

}
